<% if flash[:notice] %>
    <%= content_tag :div, flash[:notice], class: 'notice' %>
<% end %>

<%= content_tag :div, id: 'login' do %>
    <%= form_tag sessions_path do %>
        <%= email_field_tag :email, "", placeholder: "Email" %>
        <%= password_field_tag :password, "", placeholder: "Password" %>
        <%= submit_tag "Log in" %>
    <% end %>
    <hr>
    <% [{name: "Facebook"}, {name: "GitHub"}, {name: "Google", oauth: "google_oauth2"}].each do |strategy| %>
        <%= link_to "/auth/#{strategy[:oauth].try(:downcase) || strategy[:name].downcase}", method: :post do %>
            <%= content_tag :div, class: 'strategy' do %>
                <%= image_tag image_path("oauth/#{strategy[:name]}.png") %>
                <span>Continue with <%= strategy[:name] %></span>
            <% end %>
        <% end %>
    <% end %>
<% end %>

