<!DOCTYPE html>
<html>
  <head>
    <title>Workinonit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if !logged_in? %>
      <%= link_to "Register", register_path %>
      <%= link_to "Log in", login_path %>
    <% else %>
      <%= link_to "Dashboard", dashboard_path %>
      <%= link_to "Log out", session_path, method:'delete' %>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
  
  <footer>
    <% if logged_in? %>
      <%= content_tag(:p, "Logged in as #{current_user.name} (#{current_user.email})") %>
    <% end %>
  </footer>
</html>
